<nav>
<a href="/child_table_name">Books</a>
</nav>

<h1>Authors</h1>

<a href="/parents/new">New Parent</a>

<% @authors.each do |author| %>
  <h3><a href="/parents/<%= author.id %>"><%= author.name %></a> created: <%= author.created_at %></h3>
<% end %>