<a href="/child_table_name">Books</a>
<a href="/parents">Authors</a>

<h1>Welcome to the Library!</h1>

<ul>
  <li><a href="/parents">Authors Index</a></li>
  <li><a href="/child_table_name">Books Index</a></li>
</ul>