<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>Welcome to the Library!</h1>

<ul>
  <li><a href="/parents">Authors Index</a></li>
  <li><a href="/child_table_name">Books Index</a></li>
</ul>