<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<h1>Welcome to the Library!</h1>

<ul>
  <%= link_to "Books Index", "/child_table_name" %></br>
  <%= link_to "Authors Index", "/parents" %>
</ul>