<nav>
  <%= link_to "Books", "/child_table_name" %></br>
  <%= link_to "Authors", "/parents" %>
</nav>

<form action="/child_table_name/<%= @book.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p><b>Edit Book</b></p>
  <input type='text' id='name' name='name' value='name'/><br/>
  <input type='number' id='publish_date' name='publish_date'/>
  <label for='publish_date'> publish date</label><br/>
  <input type='radio' id='new' name='new_or_old' value='true'>
  <label for='new'> this copy is new</label><br/>
  <input type='radio' id='old' name='new_or_old' value='false'>
  <label for='old'> this copy is used</label><br/>
  <button type='submit' name='commit' value='Submit'>Submit</>
</form>
